extends ../layouts/main-layout

block content
    main.centered
        h1 #{ product.title }
        hr
        img(src=`${ product.imageUrl }`, style='max-width: 400px')
        h2 #{ product.price }
        p #{ product.description }
        if isAuthenticated
            form(action=`/cart`, method='post')
                input(type='hidden' value=`${ csrfToken }` name='_csrf')
                input(type='hidden', name='productId', value=`${ product.id }`)
                button.btn Add to Cart